@page "/learn_4500"
@inject Client.Services.PostsServiceTemp PostsService

@if (List == null)
{
	<div>
		Loading...
	</div>
}
else
{
	<div class="row">
		<div class="col table-responsive">
			<table class="table table-bordered table-sm table-striped table-hover">
				<thead>
					<tr>
						<th>
							@(Resources.DataDictionary.Id)
						</th>
						<th>
							@(Resources.DataDictionary.Title)
						</th>
						<th>
							@(Resources.DataDictionary.Body)
						</th>
					</tr>
				</thead>
				<tbody>
					@for (int index = 0; index <= List.Count - 1; index++)
					{
						var item = List[index];

						<tr>
							<td>
								@(index + 1)
							</td>
							<td>
								@((MarkupString)item.Title)
							</td>
							<td>
								@((MarkupString)item.Body)
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

	<hr />

}

@code
{

	protected override async Task OnInitializedAsync()
	{
		List =
			await
			PostsService.GetAsync();
	}

	public System.Collections.Generic.IList<Models.Post> List { get; set; }

}
